@page
@model PersoApp.Pages.LocationsModel
@{
    ViewData["Title"] = "Locations";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> Adress </th>
            <th> City</th>
            <th> Zipcode </th>
            <th> Country </th>
        </tr>
    </thead>
    <tbody>


        @if (Model != null)
        {
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Address</td>
                    <td> @item.City</td>
                    <td> @item.Zipcode</td>
                    <td> @item.Country</td>
                </tr>
            }
        }
</table>