@page
@using PersoApp.Interfaces;
@model PersoApp.Pages.LocationsModel
@inject IEmployee repo;
@{
    ViewData["Title"] = "Locations";
}
<p>
    <a asp-page="/LocationsPages/CreateLocation">New location</a>
</p>

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> Adress </th>
            <th> City</th>
            <th> Zipcode </th>
            <th> Country </th>
            <th>Total staff count</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @if (Model != null)
        {
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Address</td>
                    <td> @item.City</td>
                    <td> @item.Zipcode</td>
                    <td> @item.Country</td>
                    <td> @repo.GetAllEmployees().Count(e => e.LocationId == item.Id) </td>
                    <td>
                        <a asp-page="/LocationsPages/EditLocation" asp-route-id="@item.Id"> Edit </a>
                    </td>
                    <td>
                        <a asp-page="/LocationsPages/DeleteLocation" asp-route-id="@item.Id"> Delete </a>
                    </td>
                </tr>
                
            }
        }
</table>