@page
@model PersoApp.Pages.MyProfileModel
@{
    ViewData["Title"] = "My Profile";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Employee != null) 
{
    <div class="profile-info">
        <h2>User Information</h2>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Employee.EmployeeId</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Employee.Name</dd>

            <dt class="col-sm-3">Role</dt>
            <dd class="col-sm-9">@Model.Employee.Role</dd>

            <dt class="col-sm-3">Salary</dt>
            <dd class="col-sm-9">@Model.Employee.Salary</dd>

            <dt class="col-sm-3">Date of Employment</dt>
            <dd class="col-sm-9">@Model.Employee.DateOfEmployment.ToShortDateString()</dd>

            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">@Model.Employee.Location.City</dd>

            <dt class="col-sm-3">Absence in Hours</dt>
            <dd class="col-sm-9">@Model.Employee.AbsenceInHours</dd>

            <dt class="col-sm-3">Scheduled Hours</dt>
            <dd class="col-sm-9">@Model.Employee.ScheduledHours</dd>
        </dl>
    </div>
}
else
{
    <p>No employee data available.</p>
}
